<div class="card">
    <div class="card-header">
        Editar Empleado
    </div>
    <div class="card-body">
      <form [formGroup]="formulariodeempleados" (ngSubmit)="enviarDatos()">

        <div class="mb-3">
          <label for="" class="form-label">Nombre:</label>
          <input formControlName="nombre" type="text"
            class="form-control" name="" id="" aria-describedby="helpId" placeholder="Escribe tu Nombre">
         
        </div>


        <div class="mb-3">
          <label for="" class="form-label">Correo:</label>
          <input formControlName="correo" type="Email"
            class="form-control" name="" id="" aria-describedby="helpId" placeholder="Escribe tu Correo">     
        </div>

        <div class="btn-group" role="group" aria-label="">
            <button type="submit" class="btn btn-danger">Modificar usuario</button>
            <button type="button" routerLink="listar-empleado" class="btn btn-success">Cancelar</button>
    
        </div>



      </form>
    </div>
</div>